@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 현재 웹스크린의 높이 100%를 최소 높이로 설정 */
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    width: 360px;
  }
}

@media (max-width: 650px) {
  /* 650px 이하일 때 */
  .App {
    width: 100vw;
  }
}

#root {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
}

.modal {
  background: rgba(0, 0, 0, 0.25);
  border: 2px solid black;
  position: fixed;
  left: 0;
  top: 20vh;
  height: 100%;
  width: 100%;
}
